.request-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Заменим background-color на фон-картинку */
  background-image: url("../assets/5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.request-box {
  background: rgba(255, 255, 255, 0.95); /* полупрозрачный белый */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

.request-box h2 {
  margin-bottom: 20px;
}

.request-box input,
.request-box textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.request-box textarea {
  resize: none;
  height: 100px;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: darkred;
}
