.TextBox {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  max-width: 90%;
  margin: 0 auto;
}

.TextBox-text {
  grid-column: 1/8;
  align-self: center;
  text-align: left;
  padding: 1rem;
}

.TextBox-image {
  grid-column: 8/-1;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.TextBox-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
