* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-body-font-family: "Ubuntu", sans-serif;
  --bs-body-font-size: 15px;
  --bs-body-line-height: 1.5;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  line-height: var(--bs-body-line-height);
  color: #212529; /* Default text color */
  background-color: #ffffff; /* Default background */
}
